@import '../../themes.scss';

// .header {
//     border: 1px solid #c4c4c4;
//     /* min-height: 48px; non fa nulla */
//     margin: 0 0 8px 0;
//     height: 48px;
//     line-height: 48px;
// }

.header {
    @include themify($themes) {
        border: themed('border');
    }

    margin: 0 0 8px 0;
    height: 48px;
    line-height: 48px;
}

.link-wrapper {
    margin-left: 16px;
}

a.header-link {
    margin: auto;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: -2px;
    outline: 0;

    @include themify($themes) {
        color: themed('text-primary');
    }
    
}
a.header-link:hover {
    @include themify($themes) {
        color: themed('text-secondary');
    }
    // color: brown;
}

a.header-link.active {
    @include themify($themes) {
        background-image: linear-gradient(120deg, themed('message-primary') 0%, themed('message-secondary') 100%); 
    }
    // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); 
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    /* text-decoration: underline; */
    border-radius: 20px;
}

a.header-link.blinking {
    animation:blinkingText 1.2s infinite;    
}
@keyframes blinkingText{
    0% { color:#f35515; }
    49% { color: #f35515; }
    70% { color: transparent; }
    99% { color: transparent; }
    100% { color: #f35515; }
}