@import '../../themes.scss';

body, #root {
    height: 100vh;
    margin: 0;
}

div[class*="theme"], .style-wrapper {
    height: 100vh;
}

.style-wrapper {
    @include themify($themes) {
        background-color: themed('background');
        color: themed('text-primary');
    }

    padding: 16px 0;
}