.chat-main {
    /* height: 100%; */
    overflow-y: scroll;
  
    /* float: left; */
    padding: 30px 20px;
    
    height: calc(100vh - 146px);
}

// .chat-wrapper {
//     padding: 30px 20px;
// }