@import '../../themes.scss';

.sent_msg {
    float: right;
    width: 46%; //46 !
    padding: 0 10px 0 0;
}

.sent_withd_msg { 
    width: 100%; //100 !
}

.sent_msg p {
    // background: #05728f none repeat scroll 0 0;
    @include themify($themes) {
        background: themed('message-secondary');
        color: themed('text-primary');
    }
    border-radius: 3px;
    font-size: 14px;
    margin: 0; 
    padding: 10px 15px;;
    width:100%;
}

.time_date {
    // color: #747474;
    @include themify($themes) {
        color: themed('text-primary');
    }
    display: block;
    font-size: 12px;
    margin: 0; //8px 0 0
}