@import '../../themes.scss';

.sent_msg {
    float:right;
    margin-left:10%;
    width: 100%;
    margin-bottom: 1rem;
}

.sent_withd_msg {
    @include themify($themes) {
        background: themed('message-secondary');
        color: themed('text-primary');
    }

    display: block;
    float: right;
    clear: both;
    // line-height: 100%;

    width:20%;
    min-width: 150px;
    
    border-radius: 8px 0 8px 8px;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
}

.sent_withd_msg p {
    margin: 0
}

.time_date {
    // color: #747474;
    @include themify($themes) {
        color: themed('text-primary');
    }
    display: block;
    font-size: 12px;
    margin: 0; //8px 0 0
    
}

.right {
    float:right;
}